.vs/
BuilderPattern/bin/Debug/
BuilderPattern/obj/
packages/
FactoryMethod/obj/
FactoryMethod/bin/Debug/
BuilderPattern/Settings.StyleCop
BuilderPattern/StyleCop.Cache
BuilderPattern/bin/Release/BuilderPattern.exe.config
BuilderPattern/bin/Release/BuilderPattern.pdb
FactoryMethod/StyleCop.Cache
AbstractFactory/StyleCop.Cache
AbstractFactory/obj/
AbstractFactory/bin/Debug/
StrategyPattern/bin/Debug/
StrategyPattern/obj/
StrategyPattern/StyleCop.Cache
BridgePattern/bin/Debug/
BridgePattern/obj/
BridgePattern/StyleCop.Cache
